#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, double_t, int_t, bool_t

gen = ParameterGenerator()

gen.add("debug", bool_t, 0, "Show debug things, e.g. tf transforms", False)
gen.add("use_manual_ground_transform", bool_t, 0, "Use the settings below for the ground plane transformation", False)

gen.add("max_deviation_degrees", double_t, 0, "Max. deviation of the ground plane orientation [degree]", 5.0, 0.0, 10.0)

gen.add("x", double_t, 0, "x offset", 0.5, -0.1, 2.0)
gen.add("y", double_t, 0, "y offset", 0.0, -0.1, 2.0)
gen.add("z", double_t, 0, "z offset", 0.0, -2.0, 2.0)
gen.add("px", double_t, 0, "px offset", 0.0, -3.1415, 3.1415)
gen.add("py", double_t, 0, "py offset", 0.0, -3.1415, 3.1415)
gen.add("pz", double_t, 0, "pz offset", 0.0, -3.1415, 3.1415)

exit(gen.generate("plane_calibration", "plane_calibration", "PlaneCalibration"))
